/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/botton.css");
@import url("components/container.css");
@import url("components/contanier.css")
@import url("components/banner.css");
@import url("components/card.css");

/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgb(240,240,240);
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

a {
  text-decoration: none;
}
